.gptcat--custom-tag {
  position: relative;
  display: inline-block;
  border-radius: 0.3rem;
  font-size: 0.95em;

  &.inline-block {
    display: inline-block;
    padding: 0.1rem 0;
    // border on top and bottom
    border-bottom: 1px solid hsl(var(--bg-400));
  }


  &.block {
      width: 100%;
      background-color: hsl(var(--bg-200));
      display: block;
      margin: 0.5rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      .gptcat--copy-button label {
          display: block;
      }
  }

  @extend .shadow !optional;
  .error {
      color: hsl(var(--error-500));
  }

  &:hover {
      .gptcat--copy-button {
          opacity: 100;
      }
  }
}