.xlaude--latex-formula {
  color: hsl(var(--accent-secondary-000));

  .mathml-container {
      display: none;
  }

  .latex-source {
      display: none;
  }

  .original-latex {
      display: none;
  }
}
